# Extracción, Transformación y Carga de datos (ETL)

### Importamos librerías

Estas librerías nos permiten manipular los datos y prepararlos para ser consumibles.

In [2]:
import pandas as pd
import ast
import sys
sys.path.insert(0, '../')
import Herramientas as Herr

### Carga de datos

Realizamos la carga del archivo a través de una función de nuestro modulo Herramientas para que el formato JSON pase a objeto de Python. Luego se convierte a dataframe para su manipulación.

In [3]:
filas = Herr.read_json('../datasets/australian_users_items.json')

data_items = pd.DataFrame(filas)
data_items

El archivo se leyó con éxito

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

### Transformación de datos

Se aplicó la función "explode" al DataFrame "data_items" para dividir esas listas en registros individuales.

In [4]:
data_items_1 = data_items.explode(['items'])
data_items_1

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla..."
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp..."
...,...,...,...,...,...
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '373330', 'item_name': 'All Is Dus..."
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '388490', 'item_name': 'One Way To..."
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '521570', 'item_name': 'You Have 1..."
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '519140', 'item_name': 'Minds Eyes..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN

Se normalizó la columna "items", la cual estaba en formato JSON, y se utilizó el índice original obtenido desde el DataFrame "data_item_1".

In [5]:
data_item_2 = pd.json_normalize(data_items_1['items']).set_index(data_items_1['items'].index)
data_item_2

,item_id,item_name,playtime_forever,playtime_2weeks
0,10,Counter-Strike,6.0,0.0
0,20,Team Fortress Classic,0.0,0.0
0,30,Day of Defeat,7.0,0.0
0,40,Deathmatch Classic,0.0,0.0
0,50,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...
88308,373330,All Is Dust,0.0,0.0
88308,388490,One Way To Die: Steam Edition,3.0,3.0
88308,521570,You Have 10 Seconds 2,4.0,4.0
88308,519140,Minds Eyes,3.0,3.0
88309,NaN,NaN,NaN,NaN

Se concatenaron los DataFrames "data_item_1" y "data_item_2" ya desanidados previamente.

In [6]:
data_items3= pd.concat([data_item_2, data_items_1], axis=1)
data_items3

,item_id,item_name,playtime_forever,playtime_2weeks,user_id,items_count,steam_id,user_url,items
0,10,Counter-Strike,6.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike..."
0,20,Team Fortress Classic,0.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ..."
0,30,Day of Defeat,7.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'..."
0,40,Deathmatch Classic,0.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla..."
0,50,Half-Life: Opposing Force,0.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp..."
...,...,...,...,...,...,...,...,...,...
88308,373330,All Is Dust,0.0,0.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '373330', 'item_name': 'All Is Dus..."
88308,388490,One Way To Die: Steam Edition,3.0,3.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '388490', 'item_name': 'One Way To..."
88308,521570,You Have 10 Seconds 2,4.0,4.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '521570', 'item_name': 'You Have 1..."
88308,519140,Minds Eyes,3.0,3.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '519140', 'item_name': 'Minds Eyes..."
88309,NaN,NaN,NaN,NaN,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN

Se revisaron las columnas para ver nulos y los tipos de datos únicos, para dicha tarea usamos una función del módulo Herramientas.

In [7]:
Herr.analizar_datos(data_items3)

,Nombre,Tipos de Datos Únicos,% de Valores No Nulos,% de Valores Nulos,Cantidad de Valores Nulos
0,item_id,"[<class 'str'>, <class 'float'>]",99.67,0.33,16806
1,item_name,"[<class 'str'>, <class 'float'>]",99.67,0.33,16806
2,playtime_forever,[<class 'float'>],99.67,0.33,16806
3,playtime_2weeks,[<class 'float'>],99.67,0.33,16806
4,user_id,[<class 'str'>],100.00,0.00,0
5,items_count,[<class 'int'>],100.00,0.00,0
6,steam_id,[<class 'str'>],100.00,0.00,0
7,user_url,[<class 'str'>],100.00,0.00,0
8,items,"[<class 'dict'>, <class 'float'>]",99.67,0.33,16806

Se revisó cómo están estructurados los datos de la columna "items" para verificar si se desanidaron correctamente.

In [8]:
data_items3['items'][0]

0    {'item_id': '10', 'item_name': 'Counter-Strike...
0    {'item_id': '20', 'item_name': 'Team Fortress ...
0    {'item_id': '30', 'item_name': 'Day of Defeat'...
0    {'item_id': '40', 'item_name': 'Deathmatch Cla...
0    {'item_id': '50', 'item_name': 'Half-Life: Opp...
                           ...
0    {'item_id': '289130', 'item_name': 'Endless Le...
0    {'item_id': '268500', 'item_name': 'XCOM 2', '...
0    {'item_id': '461640', 'item_name': 'Sins Of Th...
0    {'item_id': '379720', 'item_name': 'DOOM', 'pl...
0    {'item_id': '273350', 'item_name': 'Evolve Sta...
Name: items, Length: 277, dtype: object

Se eliminó la columna "items" ya que fue desanidada previamente.

In [9]:
data_items3 = data_items3.drop(columns='items',axis=1)

Se filtraron las filas con valores nulos en las cuatro columnas ('item_id', 'item_name', 'playtime_forever', 'playtime_2weeks') que resultaron de la columna "items".

In [10]:
filas_con_nulos = data_items3[data_items3[['item_id', 'item_name', 'playtime_forever', 'playtime_2weeks']].isnull().any(axis=1)]

filas_con_nulos

,item_id,item_name,playtime_forever,playtime_2weeks,user_id,items_count,steam_id,user_url
9,NaN,NaN,NaN,NaN,Wackky,0,76561198039117046,http://steamcommunity.com/id/Wackky
11,NaN,NaN,NaN,NaN,76561198079601835,0,76561198079601835,http://steamcommunity.com/profiles/76561198079...
31,NaN,NaN,NaN,NaN,hellom8o,0,76561198117222320,http://steamcommunity.com/id/hellom8o
38,NaN,NaN,NaN,NaN,starkillershadow553,0,76561198059648579,http://steamcommunity.com/id/starkillershadow553
54,NaN,NaN,NaN,NaN,darkenkane,0,76561198058876001,http://steamcommunity.com/id/darkenkane
...,...,...,...,...,...,...,...,...
88298,NaN,NaN,NaN,NaN,76561198316380182,0,76561198316380182,http://steamcommunity.com/profiles/76561198316...
88299,NaN,NaN,NaN,NaN,76561198316970597,0,76561198316970597,http://steamcommunity.com/profiles/76561198316...
88300,NaN,NaN,NaN,NaN,76561198318100691,0,76561198318100691,http://steamcommunity.com/profiles/76561198318...
88307,NaN,NaN,NaN,NaN,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...
88309,NaN,NaN,NaN,NaN,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick

Se eliminaron los datos nulos de las columnas, dado que se corroboró que eran jugadores que no habían jugado a ningún juego.

In [11]:
data_items3 = data_items3.dropna(subset=['item_id','item_name','playtime_forever','playtime_2weeks'])
Herr.analizar_datos(data_items3)

,Nombre,Tipos de Datos Únicos,% de Valores No Nulos,% de Valores Nulos,Cantidad de Valores Nulos
0,item_id,[<class 'str'>],100.0,0.0,0
1,item_name,[<class 'str'>],100.0,0.0,0
2,playtime_forever,[<class 'float'>],100.0,0.0,0
3,playtime_2weeks,[<class 'float'>],100.0,0.0,0
4,user_id,[<class 'str'>],100.0,0.0,0
5,items_count,[<class 'int'>],100.0,0.0,0
6,steam_id,[<class 'str'>],100.0,0.0,0
7,user_url,[<class 'str'>],100.0,0.0,0

Creamos dos DataFrames, uno para tener las filas duplicadas ('duplicados') y otro para comparar esas filas con diferentes usuarios ('duplicados_usuario'). Se corroboró que NO son duplicados, sino diferentes juegos del mismo usuario.

In [12]:
duplicados = data_items3[data_items3.duplicated(keep=False)]
usuario = '76561198156664158'
duplicados_usuario = duplicados[duplicados['user_id'] == usuario]
duplicados_usuario

,item_id,item_name,playtime_forever,playtime_2weeks,user_id,items_count,steam_id,user_url
17,4000,Garry's Mod,269.0,0.0,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...
17,33910,Arma 2,162.0,0.0,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...
17,33930,Arma 2: Operation Arrowhead,223.0,0.0,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...
17,219540,Arma 2: Operation Arrowhead Beta (Obsolete),0.0,0.0,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...
17,400,Portal,196.0,0.0,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...
...,...,...,...,...,...,...,...,...
18993,497811,CS:GO Player Profiles: Dupreeh - Astralis,0.0,0.0,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...
18993,497812,CS:GO Player Profiles: Tarik - Counter Logic G...,0.0,0.0,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...
18993,497813,CS:GO Player Profiles: Hiko - Team Liquid,0.0,0.0,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...
18993,418040,hocus,125.0,0.0,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...
18993,273350,Evolve Stage 2,1.0,0.0,76561198156664158,59,76561198156664158,http://steamcommunity.com/profiles/76561198156...

Se borró la columna 'play_2weeks' y 'user_url', ya que no aportan información relevante para nuestro modelo. Tenemos las horas totales en otra columna, lo cual nos permite desechar estas sin repercusiones.

In [13]:
data_items3 = data_items3.drop(columns=['playtime_2weeks','user_url'],axis=1)
data_items3

,item_id,item_name,playtime_forever,user_id,items_count,steam_id
0,10,Counter-Strike,6.0,76561197970982479,277,76561197970982479
0,20,Team Fortress Classic,0.0,76561197970982479,277,76561197970982479
0,30,Day of Defeat,7.0,76561197970982479,277,76561197970982479
0,40,Deathmatch Classic,0.0,76561197970982479,277,76561197970982479
0,50,Half-Life: Opposing Force,0.0,76561197970982479,277,76561197970982479
...,...,...,...,...,...,...
88308,346330,BrainBread 2,0.0,76561198329548331,7,76561198329548331
88308,373330,All Is Dust,0.0,76561198329548331,7,76561198329548331
88308,388490,One Way To Die: Steam Edition,3.0,76561198329548331,7,76561198329548331
88308,521570,You Have 10 Seconds 2,4.0,76561198329548331,7,76561198329548331
88308,519140,Minds Eyes,3.0,76561198329548331,7,76561198329548331

Se realiza una última verificación de los tipos de datos, previo a exportarlos.

In [14]:
Herr.analizar_datos(data_items3)

,Nombre,Tipos de Datos Únicos,% de Valores No Nulos,% de Valores Nulos,Cantidad de Valores Nulos
0,item_id,[<class 'str'>],100.0,0.0,0
1,item_name,[<class 'str'>],100.0,0.0,0
2,playtime_forever,[<class 'float'>],100.0,0.0,0
3,user_id,[<class 'str'>],100.0,0.0,0
4,items_count,[<class 'int'>],100.0,0.0,0
5,steam_id,[<class 'str'>],100.0,0.0,0

### Exportamos los datos

A través de una función de nuestro módulo Herramientas, exportamos el archivo transformado.

In [15]:
Herr.export_data_csv('../datasets/australian_items.csv',data_items3)

El archivo se exportó con éxito